.vite-ssg-temp

node_modules
.DS_Store
dist
dist-ssr
release
*.local

# lock
yarn.lock
package-lock.json
pnpm-lock.yaml

*.log

# Claude
.claude/
CLAUDE.md

# Other AI
LINGMA.md
.trae/
qodana.yaml

# Temp
.vite/
*-output.txt

# Docs
docs/*
!docs/dev-tasks/

# Env
.env.development
.env.production
.env.local
demo/
